#logo {
    background-image:url('/theme/images/slide-rule-top-bw.png');
    background-repeat: no-repeat;
    overflow: hidden;

    font-family: SourceSansPro-Light;
    font-size: 14px;
}

#logo a:link {
    text-decoration: none;
}

#slogan {
    font-size: 12px;
    position: relative;
    top: 200px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
    color: rgb(175, 175, 175);
    color: rgb(173, 0, 0);
}

#S, #lender, #M, #eans {
    position: relative;
    top: 175px;
    display:inline;
    float:left;
    color: rgb(75, 75, 75);
    letter-spacing: 31px;
    text-transform: uppercase;

    -webkit-transform-origin: top;
    -webkit-transform: scale(1, 6);

}

#S, #M {
    color: rgba(173, 0, 0, .66);
}
