html { font: normal 20px/1.45 IowanOldStyleBTPro-Roman, serif; }
body { line-height: inherit; }

.e-content p, .e-content ul, .e-content ol,
.page-content p, .page-content ul, .page-content ol {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

p { margin: .25em auto; }
p + p { text-indent: 1.25rem; }
li > p { display: inline;}
strong, b { font-family: IowanOldStyleBTPro-Bold; }
i, em { font-family: IowanOldStyleBTPro-Italic; }

h1, h2, h3 {
    line-height: 1.1;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.1rem; }

h1, h2 { font-family: VerbExCondMedium; }
    h1 em, h1 i, h2 em, h2 i { font-family: VerbExCondMedium-Italic; }
    h1 strong, h1 b, h2 strong, h2 b { font-family: VerbExCondMedium-Bold; }

h3, h3 i, h3 em { font-family: VerbExCondLight-Italic; }

h3 strong, h3 b { font-family: VerbExCondSemibold; }

#content p+h2, #content p+h3,
#content ol+h2, #content ol+h3,
#content ul+h2, #content ul+h3
#content div.highlight+h2, #content div.highlight+h3
#content blockquote+h2, #content blockquote+h3 { margin: 1.5em 0 .75em 0; }

h1.page-title { margin-bottom: 1.5rem; }
h1.page-title strong { font-family: VerbExCondLight; color: steelblue;}
h1.p-name { margin: 0; }

.m, .mi, .mf { font-weight: normal; } /* Make sure numbers aren't bolded in code */
.err { border: 0; } /* No borders around errors in code. */
.highlight pre {
    font: 0.66rem SourceCodePro-Regular, Consolas, monospace;
    padding: 0 0 0 2em;
    margin: .75rem 0 2rem 2em;
    border-left: dotted 1px #B45;
    overflow: auto;  /* Allow long code to extend past body-text length,
                        with scroll area */
}

/* This typically applies to unformatted output following a code snippet */
.highlight + .highlight pre { 
    margin-top: -2rem; 
    padding-top: .5rem; 
    font-style: italic; 
    color: #666;
}

code { font: 0.9rem SourceCodePro-Regular, Consolas, monospace; }

.e-content li, .page-content li { margin: .5rem 0 .5rem 2.5rem; }
.e-content ul, .page-content ul { list-style-type: none; }
.e-content ul > li, .page-content ul > li { text-indent: -1.25rem; }
    .e-content ul > li:before, .page-content ul > li:before {
        content: "\25B6";
        font-size: .5rem;
        margin-right: .75rem;
    }

blockquote {
    margin: 1rem 2.5rem;
    padding: .5rem 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Main header and navigation */
#main-nav { font: 26px/36px SourceSansPro-Light; }

/* Post-related navigation links */
.article-panel {
    font-family: VerbExCondLight;
    font-size: 18px;
}

h1.page-title {
    text-transform: uppercase;
    font: 1.25rem VerbExCondLight;
    letter-spacing: .1em;
}

/* Pagination */
.paginator { font: 18px VerbExCondLight; }

#end-matter {
    font: 14px SourceSansPro-Regular;
    letter-spacing: 1px;
}


/* Archives */
.archive-date {
    font: 18px/18px VerbExCondMedium;
}

.archive-title {
    margin-left: 1.25rem;
    font-size: .9rem;
    line-height: 125%
}

li.category { font: 16px VerbExCondLight-Italic; }
a.category-link { font: 16px VerbExCondMedium; }

/* Blogroll */
a.blogroll-link { font: 1rem VerbExCondMedium; }

/* Footnotes */
a.footnote-mark { 
    vertical-align: super; 
    font-size: .8em;
    border: 0px; 
    color: #b45; 
}

ol.footnotes { font-size: .8rem; }