body {
    background: #f3f3f3;
    color: #222;
}

#site-tag { color: steelblue; }
#S, #M { color: #444; }
#lender, #eans { color: #b45; }

a { text-decoration: none; }

#main-nav a { color: #444; }

#main-nav a:hover { color: #b45; }

.e-content { border-bottom: dotted 1px; }

.e-content a, .page-content a {
    color: #444;
    border-bottom: dotted 1px #b45;
}

.page-content li > a {
    border: 0;
}

.e-content a:hover, .page-content a:hover { color: #b45; }

.e-content ul > li:before, .page-content ul > li:before {
    color: #b45;
}

#end-matter {
    background: #b45;
    box-shadow: 0px 2px 3px #444 inset;
}

#cc-license, #colophon-link, #rss-link {
    color: #f3f3f3;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px 5px;
}

#cc-license:hover, #colophon-link:hover, #rss-link:hover {
    color: #b45;
    background: #f3f3f3;
}

#rss-link:before {
    content: "\f09e";
    font-family: "FontAwesome";
    font-size: 18px;
    padding: 2px 10px 0 2px;
}

/*
#rss-link {
    background: url("../../theme/images/social/rss-sprite.png") no-repeat;
    background-size: 25px;
    background-position: 0px -25px;
    height: 25px;
    width: 25px;
    border: 0;
    border-radius: 5px;
}

#rss-link:hover { background-position: 0 0; }
*/
h2, h3 { color: #444; }

h1.page-title, h1.p-name a { color: #b45; }

h1.p-name a:hover { color: #444; }

#comments h2 { color: #b45; }

.article-panel, .article-panel a { color: steelblue; }

.article-panel a:hover {
    color: #b45;
}

.read-more-link:before {
    content: "\f0a9";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 10px;
}
.comments-link:before {
    content: "\f0e6";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 10px;
}

.social-links { margin: 5px 0;}
.social-links-large { margin: 1.5rem 0; }
.social-links-large ul > li {
    text-indent: 0
}
.social-links-large ul > li:before {
    content: "";
    margin: 0;
}

.social { padding-right: 40px;}
.social:before { font-size: 24px; padding-right: 10px; }

a.social-large { border: 0;}
.social-large:before { font-size: 50px; padding-right: 10px; }

.facebook:before { content: "\f09a"; font-family: "FontAwesome"; }
.twitter:before { content: "\f099"; font-family: "FontAwesome"; }
.gplus:before { content: "\f0d5"; font-family: "FontAwesome"; }
.linkedin:before { content: "\f0e1"; font-family: "FontAwesome"; }


.archive-date { color: steelblue;}
.archive-title a { color: #444; }
    .archive-title a:hover { color: #b45; }
.category-link { color: #444;}
    .category-link:hover { color: #b45; }

a.blogroll-link {
    color: #b45;
    border: 0;
}
    a.blogroll-link:hover { color: #444;}

.blogroll-section ul > li:before {
    content: "";
    margin: 0;
}

a.image { border: 0;}

a.footnote-mark {
    border: 0px; 
    color: #b45; 
}

.math, .MathJax {
    font-size: .9em;
    color: black;
}