/* first for IE 6/7/8 */
@font-face {
  font-family: NuvoWeb-Medi;
  src: url(NuvoWeb-Medi.eot);
}

/* then for Mozilla browsers -> Firefox */
@font-face {
  font-family: NuvoWeb-Medi;
  src: url(NuvoWeb-Medi.woff) format('woff');
}
