* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
    -moz-padding-end: 0;
}

html {
    font: normal 20px/1.45 serif;
    min-height: 100%;
    position:relative;
}

body {
    width: 100%;
    line-height: inherit;
    padding: 0;
    margin: 0 0 100px;
}

/*******************************************************************************
 * SITE HEADER (TOP MATTER)
 * Contains the site "logo" and the main navigation menu
 *
 * The site logo is comprised of the site's name and tagline, with a background
 * image. It links to the home page.
 *
 * The main navigation menu is a vertically-aligned list of links that floats
 * next to the logo.
 ******************************************************************************/
header.top-matter {
    max-width: 35rem;
    margin: 0 auto 3rem auto;
    overflow: hidden; /* logo and nav menu float within this */
}

.logo {
    height: 300px;
    float: left;
    background: url('/theme/images/slide-rule-top-bw.png') no-repeat;
    text-decoration: none;
}

.logo h1.site-name {
    position: relative;
    top: 190px;
    font: 14px SourceSansPro-Light;
    letter-spacing: 30px;
    text-transform: uppercase;
    -webkit-transform-origin: top;
    -webkit-transform: scale(1, 6);
    -moz-transform-origin: top;
    -moz-transform: scale(1, 6);
    margin:0;
}

.logo h1.site-name .lender, .logo h1.site-name .eans {
    color: #B45;
}

.logo h2.site-tag {
    position: relative;
    top: 175px;
    font: 12px SourceSansPro-Light;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

.main-nav {
    font: 26px/36px SourceSansPro-Light;
    float:right;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    margin-top: 20px;
}

.main-nav ul a:link, a:visited {
    text-decoration: none;
    color: inherit;
    border: solid 1px #f3f3f3;
    padding: 0 6px;
}

.main-nav ul a:hover {
    color: #B45;
   /* border-bottom: solid 1px;
    border-right: solid 1px;
    border-right: solid 1px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -2px 2px 2px #b45; */
}

footer.end-matter {
    clear: both;
    font: 14px SourceSansPro-Regular;
    letter-spacing: 1px;

    height: 20px;
    background: #b45;
    box-shadow: 0px 2px 3px #444 inset;
    padding: 20px 0;
    overflow: hidden;
    margin-top: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}

footer.end-matter a.credit {
    float: left;
    margin-left: 25px;
}

footer.end-matter a.colophon-link {
    float: right;
    margin-right: 25px;
}

footer.end-matter a {
    text-decoration: none;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px 5px;
    color: #f3f3f3;
}

footer.end-matter a:hover {
    background: #f3f3f3;
    color: #b45;
}

footer.end-matter a.rss-link {
    padding-left: 50px;
    padding-bottom: 5px;
    border: 0;
    margin: 5px 0 0 100px;
    background: url("../../theme/images/social/rss-sprite.png") no-repeat;
    background-size: 25px;
    background-position: 10px -25px;
}


footer.end-matter a.rss-link:hover {
    background-position: 10px 0px;
}

/*******************************************************************************
 * POST-LIST
 ******************************************************************************/

ol.post-list {
    list-style-type: none;
}

li.post-list-item {
    margin-bottom: 5rem;
}

footer.post-info {
    font: 18px VerbExCondLight;
    margin: 0 0 1rem 0 ;
    height: 30px;
}

footer.post-info .dt-published, .p-author, .p-category {
    display: inline;
    padding-right: .5em;
}

footer.post-info a {
    padding-left: .5em;
    border-left: solid 1px;
}


nav.article-links a {
    font: 18px VerbExCondLight;
}

/*******************************************************************************
 * ARTICLE BODY TEXT
 ******************************************************************************/

.h-entry, .page-content {
    max-width: 35rem;
    margin: 0 auto;
}

.e-content {
    margin-top: 1rem;
    border-bottom: 1px dotted;
    padding-bottom: 1rem;
    color: #222;
    font-family: IowanOldStyleBTPro-Roman;
}

.page-content {
    border-bottom: 0
}

.e-content p, .e-content li {
    margin: .25em auto .25em auto; /* bottom margin for paragraphs
                                      note top+bottom margin collapse */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;

}

.e-content p+p {
    text-indent: 1.25em;
}

.e-content p b, strong {
    font-family: IowanOldStyleBTPro-Bold;
    font-weight: normal;
}

.e-content p i, em {
    font-family: IowanOldStyleBTPro-Italic;
    font-style: normal;
}

.e-content ul, .e-content ol {
    margin: .5em 0 .5em 2.5em;
}

article.page-content h1.page-title, header.article-list-title h1.page-title {
    text-transform: uppercase;
    font: 1.25rem VerbExCondLight;
    color: #b45;
    letter-spacing: .1em;
    margin-bottom: 1.5rem;
}

header.article-list-title {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

/***********************
 * HEADINGS AND TITLES *
 ***********************/
.p-name, .e-content h1, .e-content h2, .e-content h3, div.comments h2 {
    line-height: 1;
    margin: .75rem 0;
    text-rendering: optimizeLegibility;
    /*  voodoo to enable ligatures and kerning |
        https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
}

.e-content p+h2, .e-content p+h3 {
    margin: 2rem 0 .75rem 0;
}



.e-content h1, .e-content h2, div.comments h2 {
    font-family: VerbExCondMedium;
    font-weight: normal;
}

article.h-entry h1.p-name {
    font-family: VerbExCondMedium;
    font-weight: normal;
}

 article.h-entry .p-name, .e-content h1 {
    font-size: 1.5rem;
}

.e-content h2, div.comments h2 {
    font-size: 1.3rem;
}

.e-content h3 {
    font-family: VerbExCondLight-Italic;
    font-weight: normal;
    font-size: 1.1rem;
}

article.h-entry nav.social li {
    display: inline;
}

/********
 * CODE *
 ********/
.highlight pre {
    font: 0.66rem SourceCodePro-Regular, Consolas, monospace;
    padding: 0 0 0 2em;
    margin: .75rem 0 2rem 2em;
    border-left: dotted 1px #B45;
    overflow: auto;  /* Allow long code to extend past body-text length,
                        with scroll area */

}

code {
    font: 0.9rem SourceCodePro-Regular, Consolas, monospace;
}

/**********
 * COLORS *
 **********/

body {
    background: #f3f3f3;
    color: #222;
}

a.logo .site-tag {
    color: steelblue;
}

a.logo .site-name .S, a.logo .site-name .M {
    color: #444;
}

.main-nav ul a {
    color: #444;
}

.e-content h1, .e-content h2, .e-content h3 {
   color: #444;
}

.e-content a {
    text-decoration: none;
    border-bottom: 1px solid #B45;
    color: inherit;
    display: inline;
    line-height: .5em;
}

.e-content a:hover {
    color: #B45;
}

h1.p-name a {
    text-decoration: none;
    color: #B45;
}

h1.p-name a:hover {
    color: #444;
}

footer.post-info {
    color: steelblue;
}

footer.post-info a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}

footer.post-info a:hover {
    color: #B45;
    border-left: solid 1px steelblue;
}

nav.article-links {
    color: steelblue;
}

nav.article-links a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 1px;
}

nav.article-links a:hover {
    color: #B45;
}


nav.article-links a.comments-link {
    background: url('../../theme/images/social/comment-sprite.png') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    margin-left: 3em;
}

nav.article-links a.comments-link:hover { background-position: 0 -25px; }


nav.article-links a.read-more-link:before {
    content: "\27A5";
}

p.paginator {
    font: .8rem VerbExCondLight;
    color: #b45;
    max-width: 10em;
    margin: 0 auto;
  /*  border: solid 1px;
    padding: 5px;
    border-radius: 10px; */
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

p.paginator a:hover {
   color: #444;
}


.e-content a.image {
    border: 0;
}

/************************
 * ARCHIVES PAGE LAYOUT *
 ************************/
div.archive-list {
    max-width: 30rem;
    float:left;
    margin: 0 auto;
}

div.archive-list dt {
    font: 18px VerbExCondMedium;
    margin-top: 1em;
    color: steelblue;
}

div.archive-list dd {
    margin-left: 1em;
    font: .9rem IowanOldStyleBTPro-Roman;

}

div.archive-list dd a {
    text-decoration: none;
    color: inherit;
}

div.archive-list dd:hover {
    color: #B45;
}

nav.category-list {
    float:left;
    max-width: 30rem;
    margin-left: 5rem;
}

article.archive-container {
    overflow: hidden;
    max-width: 45rem;
}


nav.category-list {
    color: #444;
    list-style-type: none;
}

nav.category-list li.category {
    font: 16px VerbExCondLight-Italic;
    margin-top: 1em;

}

nav.category-list li.category a {
    font: 16px VerbExCondMedium;
    text-decoration: none;
    color: inherit;
    margin-right: 1em;
}

nav.category-list li.category a:hover {
    color: #B45;
}

/********************
 * Comments section *
 ********************/
div.comments {
    margin-top: 2rem;
}

div.comments h2 {
    color: #B45;
}

/****************
 * SOCIAL LINKS *
 ****************/
 nav.social ul {
    margin: 0;
 }

 nav.social li {
     display: inline;
 }
 nav.social a {
    text-decoration: none;
    color: steelblue;
    font: 18px VerbExCondLight;
    margin-right: 2em;
    padding: 0 0 0 25px;
    border: none;
}

 nav.social a:hover {
    color: #B45;
}

a.twitter {
    background: url(/theme/images/social/twitter-sprite.png) no-repeat;
    background-size: 20px;
    background-position: 0 0;
}

a.facebook {
    background: url(/theme/images/social/facebook-sprite.png) no-repeat;
    background-size: 20px;
    background-position: 0 0;
}

a.gplus {
    background: url(/theme/images/social/gplus-sprite.png) no-repeat;
    background-size: 20px;
    background-position: 0 0;
}

a.linkedin {
    background: url(/theme/images/social/linkedin-sprite.png) no-repeat;
    background-size: 20px;
    background-position: 0 0;
}

a.twitter:hover {
   background-position: 0 -25px;
}

nav.social-large a.twitter:hover {
    background-position: 0 -50px;
}

a.facebook:hover {
   background-position: 0 -25px;
}

nav.social-large a.facebook:hover {
    background-position: 0 -50px;
}


a.gplus:hover {
   background-position: 0 -25px;
}

nav.social-large a.gplus:hover {
    background-position: 0 -50px;
}


a.linkedin:hover {
   background-position: 0 -25px;
}

nav.social-large a.linkedin:hover {
    background-position: 0 -50px;
}

nav.social-large {
    height: 3em;
    padding: 1em 0;
}

nav.social a.social-large {
    background-size: 2em;
    font-size: 1em;
    padding: .5em 0 .5em 2.5em;

}

 /************
  * BLOGROLL *
  ************/
.blogroll ul {
    list-style-type: none;
    margin-left: 1em;
    text-indent: -1em;
}

.blogroll ul li {
    margin-top: .5em;
}

.blogroll a.blogroll-link {
    text-decoration: none;
    border-bottom: 0;
    font: 1rem VerbExCondMedium;
    color: #B45;
}

.blogroll a.blogroll-link:hover {
    color: #444;
}

/* MathJax */
.MathJax_Display {
    text-align: left !important;
    margin: 1em 1em !important;
}

.MathJax * {
    color: #444 !important;
}

